@model IEnumerable<CustomUrlAndHelper.Models.User>
@using CustomUrlAndHelper.Helper
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <a href="@Url.Create("User")">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href="@Url.Edit("User", item.Id)">Edit</a>|
            <a href="@Url.Details("User", item.Id)">Details</a>|
            <a href="@Url.Delete("User", item.Id)">Detele</a>
        </td>
    </tr>
}
</table>
